
<li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Home" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
</li>

<li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="cpage2" data-view="ChangePage" data-icon="lightbulb-o" data-title="Lights" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
</li>

<li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
  <div data-id="cpage3" data-view="ChangePage" data-icon="television" data-title="TV" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
</li>

<li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="cpage4" data-view="ChangePage" data-icon="server" data-title="Services" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
</li>

<li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
  <div data-id="cpage5" data-view="ChangePage" data-icon="lock" data-title="Alarm" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
</li>

<li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
  <div data-id="reload" data-view="Reload"></div>
</li>