
<div class="gridster"> <!-- Home - PAGE 1 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-color="#FF0000"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Naweather" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>

    <%= erb 'pages/partials/pagers'.to_sym %>
  </ul>
</div>