<div class="gridster"> <!-- Lights - PAGE 2 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="livingroomlights_level_2" data-view="Haslider" data-title="Living Room" data-color="#FF0000"></div>
    </li>
  </ul>
</div>