<div class="gridster"> <!-- Services - PAGE 3 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="plex_media_server" data-view="Haswitch" data-icon="plex" data-title="Plex Media Server" data-bgcolor="#f9be03"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deluge_daemon" data-view="Haswitch" data-icon="deluge" data-title="Deluge Daemon" data-bgcolor="#3e70ab"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="deluge_web" data-view="Haswitch" data-icon="deluge" data-title="Deluge Web" data-bgcolor="#3e70ab"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="couch_potato" data-view="Haswitch" data-icon="couchpotato" data-title="Couch Potato" data-bgcolor="#f85c22"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="headphones" data-view="Haswitch" data-icon="headphones" data-title="Headphones" data-bgcolor="#ffffff" data-color="#000000"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="jackett" data-view="Haswitch" data-icon="jackett" data-title="Jackett" data-bgcolor="#ffffff" data-color="#000000"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="sonarr" data-view="Haswitch" data-icon="sonarr" data-title="Sonarr" data-bgcolor="#35c6f5"></div>
    </li>

    <%= erb 'pages/partials/pagers'.to_sym %>
  </ul>
</div>