<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_power" data-view="Hascript" data-title="TV" data-icon="power-off" data-color="#FF0000"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_source" data-view="Hascript" data-title="Source" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_stb_power" data-view="Hascript" data-title="STB" data-icon="power-off" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_stb_guide" data-view="Hascript" data-title="STB Guide" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_stb_menu" data-view="Hascript" data-title="STB Menu" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_1" data-view="Hascript" data-title="1" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_2" data-view="Hascript" data-title="2" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_3" data-view="Hascript" data-title="3" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_4" data-view="Hascript" data-title="4" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_5" data-view="Hascript" data-title="5" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_6" data-view="Hascript" data-title="6" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_7" data-view="Hascript" data-title="7" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_8" data-view="Hascript" data-title="8" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_9" data-view="Hascript" data-title="9" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_minus" data-view="Hascript" data-title="-" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_0" data-view="Hascript" data-title="0" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_pre_ch" data-view="Hascript" data-title="Pre-ch" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_volumeup" data-view="Hascript" data-title="Volume" data-icon="plus-square" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_volumedown" data-view="Hascript" data-title="Volume" data-icon="minus-square" data-color="#ff0000"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_mute" data-view="Hascript" data-title="Mute" data-icon="volume-off" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_channel_list" data-view="Hascript" data-title="CH List" data-icon="list" data-color="#ff0000"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_channelup" data-view="Hascript" data-title="Channel" data-icon="arrow-circle-up" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_channeldown" data-view="Hascript" data-title="Channel" data-icon="arrow-circle-down" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_smart_hub" data-view="Hascript" data-title="Smart Hub" data-icon="cube" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_guide" data-view="Hascript" data-title="Guide" data-icon="car" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_tools" data-view="Hascript" data-title="Tools" data-icon="wrench" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_info" data-view="Hascript" data-title="Info" data-icon="info" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_return" data-view="Hascript" data-title="Return" data-icon="undo" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_exit" data-view="Hascript" data-title="Exit" data-icon="sign-out" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_select" data-view="Hascript" data-title="" data-icon="square" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_up" data-view="Hascript" data-title="" data-icon="arrow-circle-up" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_down" data-view="Hascript" data-title="" data-icon="arrow-circle-down" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_left" data-view="Hascript" data-title="" data-icon="arrow-circle-left" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_right" data-view="Hascript" data-title="" data-icon="arrow-circle-right" data-color="#ff0000"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_a" data-view="Hascript" data-title="A" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_b" data-view="Hascript" data-title="B" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_c" data-view="Hascript" data-title="C" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_d" data-view="Hascript" data-title="D" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_help" data-view="Hascript" data-title="E-Manual" data-icon="life-ring" data-color="#ff0000"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_search" data-view="Hascript" data-title="Search" data-icon="search" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_keyboard" data-view="Hascript" data-title="Keypad" data-icon="keyboard-o" data-color="#ff0000"></div>
    </li>
    <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_psize" data-view="Hascript" data-title="P-Size" data-icon="desktop" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_mts" data-view="Hascript" data-title="MTS" data-icon="" data-color="#ff0000"></div>
    </li>
    <li data-row="5" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_cc" data-view="Hascript" data-title="" data-icon="cc" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_rewind" data-view="Hascript" data-title="" data-icon="backward" data-color="#ff0000"></div>
    </li>
    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_pause" data-view="Hascript" data-title="" data-icon="pause" data-color="#ff0000"></div>
    </li>
    <li data-row="7" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_forward" data-view="Hascript" data-title="" data-icon="forward" data-color="#ff0000"></div>
    </li>
    <li data-row="7" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_record" data-view="Hascript" data-title="" data-icon="dot-circle" data-color="#ff0000"></div>
    </li>
    <li data-row="8" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_play" data-view="Hascript" data-title="" data-icon="play" data-color="#ff0000"></div>
    </li>
    <li data-row="8" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_stop" data-view="Hascript" data-title="" data-icon="stop" data-color="#ff0000"></div>
    </li>

    <%= erb 'pages/partials/pagers'.to_sym %>
  </ul>
</div>