<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_power" data-view="Hascript" data-title="TV" data-icon="off" data-bgcolor="#ff0000"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_source" data-view="Hascript" data-title="Source" data-icon=""></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_smart_hub" data-view="Hascript" data-title="Smart Hub" data-icon="smart-hub" data-bgcolor="#f9be03"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_tools" data-view="Hascript" data-title="Tools" data-icon="wrench-circled"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_info" data-view="Hascript" data-title="Info" data-icon="info-circled"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_return" data-view="Hascript" data-title="Return" data-icon="undo"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_exit" data-view="Hascript" data-title="Exit" data-icon="sign-out"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_select" data-view="Hascript" data-title="" data-icon="square" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_up" data-view="Hascript" data-title="" data-icon="up" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_left" data-view="Hascript" data-title="" data-icon="left" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_right" data-view="Hascript" data-title="" data-icon="right" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_down" data-view="Hascript" data-title="" data-icon="down" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_volumeup" data-view="Hascript" data-title="Volume" data-icon="volume-up" data-bgcolor="#3e70ab"></div>
    </li>
    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_volumedown" data-view="Hascript" data-title="Volume" data-icon="volume-down" data-bgcolor="#3e70ab"></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_mute" data-view="Hascript" data-title="Mute" data-icon="volume-off"></div>
    </li>
    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_channel_list" data-view="Hascript" data-title="CH List" data-icon="list"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_channelup" data-view="Hascript" data-title="Channel" data-icon="up-open" data-bgcolor="#3e70ab"></div>
    </li>
    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_channeldown" data-view="Hascript" data-title="Channel" data-icon="down-open" data-bgcolor="#3e70ab"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_1" data-view="Hascript" data-title="" data-icon="1"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_2" data-view="Hascript" data-title="" data-icon="2"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_3" data-view="Hascript" data-title="" data-icon="3"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_4" data-view="Hascript" data-title="" data-icon="4"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_5" data-view="Hascript" data-title="" data-icon="5"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_6" data-view="Hascript" data-title="" data-icon="6"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_7" data-view="Hascript" data-title="" data-icon="7"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_8" data-view="Hascript" data-title="" data-icon="8"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_9" data-view="Hascript" data-title="" data-icon="9"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_minus" data-view="Hascript" data-title="" data-icon="hyphen"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_0" data-view="Hascript" data-title="" data-icon="0"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_pre_ch" data-view="Hascript" data-title="Pre-ch" data-icon=""></div>
    </li>
    <!--li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_guide" data-view="Hascript" data-title="Guide" data-icon="car"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_a" data-view="Hascript" data-title="A" data-icon="a" data-bgcolor="#ff0000"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_b" data-view="Hascript" data-title="B" data-icon="b" data-bgcolor="#008000"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_c" data-view="Hascript" data-title="C" data-icon="c" data-bgcolor="#f9be03"></div>
    </li>
    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_d" data-view="Hascript" data-title="D" data-icon="d" data-bgcolor="#00008b"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_help" data-view="Hascript" data-title="E-Manual" data-icon="book"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_search" data-view="Hascript" data-title="Search" data-icon="search"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_keyboard" data-view="Hascript" data-title="Keypad" data-icon="keyboard-o"></div>
    </li>
    <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_psize" data-view="Hascript" data-title="P-Size" data-icon="view-mode"></div>
    </li>
    <li data-row="5" data-col="7" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_mts" data-view="Hascript" data-title="MTS" data-icon=""></div>
    </li>
    <li data-row="5" data-col="8" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_cc" data-view="Hascript" data-title="" data-icon="cc"></div>
    </li>
    <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_rewind" data-view="Hascript" data-title="" data-icon="backward-circled"></div>
    </li>
    <li data-row="7" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_pause" data-view="Hascript" data-title="" data-icon="pause-circled"></div>
    </li>
    <li data-row="7" data-col="3" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_forward" data-view="Hascript" data-title="" data-icon="forward-circled"></div>
    </li>
    <li data-row="7" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_record" data-view="Hascript" data-title="" data-icon="record"></div>
    </li>
    <li data-row="7" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_play" data-view="Hascript" data-title="" data-icon="play-circled"></div>
    </li>
    <li data-row="7" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="irsend_tv_key_stop" data-view="Hascript" data-title="" data-icon="stop-circled"></div>
    </li-->
    <!--li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_stb_power" data-view="Hascript" data-title="STB" data-icon="off" data-bgcolor="#ff0000"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_stb_guide" data-view="Hascript" data-title="STB Guide" data-icon=""></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_stb_menu" data-view="Hascript" data-title="STB Menu" data-icon=""></div>
    </li-->

    <%= erb 'pages/partials/pagers'.to_sym %>
  </ul>
</div>