<div class="gridster"> <!-- Lights - PAGE 2 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="irsend_tv_key_1" data-view="Hascript" data-title="1" data-color="#FF0000"></div>
    </li>

    <%= erb 'pages/partials/pagers'.to_sym %>
  </ul>
</div>