
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_power" data-view="Hascript" data-title="" data-icon="off" data-bgcolor="#ff0000"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_play" data-view="Hascript" data-title="" data-icon="play-circled"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_up" data-view="Hascript" data-title="" data-icon="up" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_left" data-view="Hascript" data-title="" data-icon="left" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_enter" data-view="Hascript" data-title="" data-icon="record"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_right" data-view="Hascript" data-title="" data-icon="right" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_down" data-view="Hascript" data-title="" data-icon="down" data-bgcolor="#ffffff"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_a" data-view="Hascript" data-title="Mode" data-icon="circle"></div>
    </li>
    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_b" data-view="Hascript" data-title="Clock" data-icon="circle"></div>
    </li>
    <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_c" data-view="Hascript" data-title="Timer" data-icon="circle"></div>
    </li>
    <li data-row="7" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_d" data-view="Hascript" data-title="Base" data-icon="circle"></div>
    </li>
    <li data-row="7" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_e" data-view="Hascript" data-title="Climb" data-icon="circle"></div>
    </li>
    <li data-row="8" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_f" data-view="Hascript" data-title="Spot" data-icon="circle"></div>
    </li>
    <li data-row="8" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="irsend_vaccuum_key_g" data-view="Hascript" data-title="Max" data-icon="circle"></div>
    </li>
